:root {
    --primary: #fff;
    --secondary: gray;
}

.btn {
    padding: 8px 20px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

.btn-primary {
    background-color: var(--primary);
    color: black;
    border: 1px solid var(--primary);
}

.btn--disabled {
    background-color: var(--secondary);
    color: black;
    border: 1px solid var(--secondary);
}

.primary {
    background-color: aquamarine;
    color: #fff;
    border: none;
}

.primary:hover {
    background-color: teal;
    color: #fff;
    border: none;
}

.secondary {
    background-color: gray;
    color: #fff;
    border: none;
}