body {
    background: #1c2237;
    padding: 0 20px;
}

form {
    width: 40%;
    margin: 0 auto;
}

.form {
    background: #0e101c;
    max-width: 400px;
    margin: 0 auto;
}

.form-title {
    margin-top: 80px;
    font-weight: 100;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #f00946;
    color: white;
}

button[type="button"] {
    background: black;
    border: 1px solid white;
}

input,
select {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid white;
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

input,
select:focus-visible {
    outline-color: #ec5990;
}

label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 200;
}

button,
input[type="submit"] {
    background: #f00946;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 40px;
    padding: 20px;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 10px;
    cursor: pointer;
}

button {
    display: block;
    appearance: none;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"]:hover {
    background: #ec5990;
}

input[type="button"]:active,
input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

input:disabled {
    opacity: 0.4;
}

input[type="button"]:hover {
    transition: 0.3s all;
}

input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
}

.error {
    color: #f00946;
}

@media screen and (max-width: 820px) {
    form {
        width: 80%;
        margin: 0 auto;
    }
}